.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  animation: slidein 1s ease-in-out forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200);
  }
}
