.slide-up {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
